.wrapper{
  display: flex;
}

/* サイドバー */
.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.side-bar-head{ 
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none

}
.new{
  color: deepskyblue;
  font-size: 16px;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.chanel{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
.room {
  padding: 20px 0 40px;
}
.room-name a {
  text-decoration: none;
  color: white;
}

/* チャット欄 */
.main{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
}
.main-head{
  height: 100px;
  padding: 0 40px;
}
.main-of-main{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}
.main-foot{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}